.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.logoMain {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  line-height: 1;
}

.logoMain::first-letter {
  color: #e30613;
}

.logoTagline {
  font-size: 0.8rem;
  color: #777;
  font-weight: 400;
} 